@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Opcional: Si tienes un contenedor específico que podría estar causando el desbordamiento */
html, body {
  width: 100%;
  overflow-x: hidden;
}
body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    352deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(6, 35, 56, 1) 100%
  );
}
main {
  padding-top: 15px;
}
h1 {
  font-size: 3rem !important;
}
.img-carrusel {
  width: 100%;
  height: 300px;

}

