@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: rgb(0,0,0);
background: linear-gradient(352deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(6,35,56,1) 100%);
    
}
h1{
    font-size: 3rem!important;
}